@import 'global';
@import 'vars';


body {
  background: rgba(#000, 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.less {
  background-color: $green-color;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.scss {
  width: 400px;
  height: 150px;
  background-image: url(./../img/credit/card-fun.webp); 
}